@model List<DataAccess.Entity.Movie>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h2>Filmler</h2>
            </div>
            <div class="col-md-6 text-right">

                <a asp-action="AddMovie" asp-controller="Movie" type="submit" class="btn btn-primary">Ekle</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Film Adı</th>
                    <th>Süre</th>
                    <th>Açıklma</th>
                    <th>Puan</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                <tr>
                    <!--Film Türünü nasıl tabloda gösteririz-->
                    <td>@movie.Id</td>
                    <td>@movie.MovieName</td>
                    <td>@movie.Duration</td>
                    <td>@movie.Description</td>
                    <td>@movie.Rank</td>
                    <td>
                        @{
                            if (movie.IsActive)
                            {
                                <span class="badge badge-success">Aktif</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Pasif</span>
                            }
                        }
                    </td>
                    <td> <a asp-action="Deletemovie" asp-controller="Movie" asp-route-id="@movie.Id" type="submit" class="btn btn-danger">Sil</a></td>
                    <td> <a asp-action="UpdateMovie" asp-controller="Movie" asp-route-id="@movie.Id" type="submit" class="btn btn-warning">Güncelle</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

